# Ignore output directory to prevent committing generated data
/output/
/target
/test_output/

# Ignore confidential OpenAPI schema and generated client
/src/openapi-client/schema-openapi.yaml
/src/openapi-client/
