# Ignore output directory to prevent committing generated data
/output/
/target
/test_output/
/.env
/tmp
/llm-bucket/tmp
config.yaml

# Ignore confidential OpenAPI schema and generated client
/openapi-client/schema-openapi.yaml
/openapi-client/
